$primary: #122331;
$secondary: #13303c;
$thirdColor: #112630;
$mainDark: #212121;
$secDark: #2E2E2E;
$mainLight: #fafafa;
$mainGray: #777777;

$pinky: #ee4085;
$orangy: #f47b20;
$rgba-orangy: rgba(244, 123, 32, 0.15);
$rgba-pinky: rgba(238, 64, 133, 0.07);

$blue: #428bca !default;
$indigo: #6610F2 !default;
$purple: #6F42C1 !default;
$pink: #E83E8C !default;
$red: #d93320 !default;
$orange: #FD7E14 !default;
$yellow: #f0c338 !default;
$green: #5cb85c !default;
$teal: #20C997 !default;
$cyan: #5bc0de !default;
$gray: #6C757D !default;
$gray-dark: #343A40 !default;
$light: #F8F9FA !default;


$white: #ffffff !default;
$black: #000000 !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;
