<footer class="footer font-small">
    <div class="footer-copyright text-center small text-uppercase py-4">
        ©SimpleImgUpload - 2020 - v1.0 <a href="/gitstatus"><img width="32px" src="{{ asset('/img/gitlab-white.svg') }}"> Dev Status</a>
    </div>
</footer>