<footer>
    <section class="ft-legal">
            <div class="text-center small text-uppercase">
                ©SimpleImgUpload - 2020 - v1.0 <a href="/gitstatus"><img width="32px" src="{{ asset('/img/gitlab-white.svg') }}"> Dev Status</a>
            </div>
    </section>
</footer>